<div id="record-loader" ng-class="{ 'show-loader' : showLoader.toggle }">
  <div>
    <h1>Loading...</h1>
    <div id="record">
      <div class="record-groove">
        <div class="record-groove">
          <div class="record-groove">
            <div id="record-label">
              <div id="record-label-text">
                {{ month | monthName }} {{ day || 'Day' }} {{ year || 'Year' }}
              </div>
              <div id="record-hole"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
